<%- include('../partials/sidebar') %>
<link rel="stylesheet" href="/css/table.css" />
<link rel="stylesheet" href="/css/button8.css" />
<link rel="stylesheet" href="/css/loading.css" />


<div id="loading"></div>
<%if(ver_pedido == 1){%>
    <div class="row mt-2">
      <div class="col-md-4">
        <h4>Pedidos</h4>
      </div>
      <div class="col-lg-4">
      </div>
      <div class="col-md-4">
        <button type="button" class="button-8 mb-2" id="result" style="float: right;" disabled>
          <span class="counter-value"><%=results%></span>
          resultados
        </button>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <div class="form-floating">
          <input type="text" class="form-control" id="procura0"/>
          <label for="procura0">Código:</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
          <input type="number" class="form-control" id="procura2" min="0" oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"/>
          <label for="procura2">Limite:</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
          <select class="form-select" id="procura1">
            <option value=""></option>
            <option value="Aberto">Aberto</option>
            <option value="Aprovado">Aprovado</option>
            <option value="FECHADO">Fechado</option>
            <option value="Reprovado">Reprovado</option>
          </select>
          <label for="procura1">Status:</label>
        </div>
      </div>
    </div>
    <div class="table-wrapper table-responsive table-striped mb-4">
      <table class="fl-table" id="myTable">
        <thead>
          <tr style="height: 25px">
            <th>Código</th>
            <th>Cliente</th>
            <th>Data Entrega</th>
            <th>Data Emissão</th>
            <th>Vendedor</th>
            <th>Status</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <%contents.forEach ((content)=>{%>
          <tr>
            <td>
                <p><%=content.PEDIDO%></p>
            </td>
            <td>
              <p><%=content.RASSOC%></p>
            </td>
            <td>
              <p><%=content.DT_ENTREGA%></p>
            </td>
            <td>
              <p><%=content.DT_EMISSAO%></p>
            </td>
            <td>
              <p><%=content.USUARIO%></p>
            </td>
            <td>
              <p><%=content.STATUS_PEDIDO%></p>
            </td>
            <td>
              <a href="/faturamento/korp/pedidos/<%=content.PEDIDO%>">
                <button type="button" class="button-8">Detalhes</button>
              </a>
            </td>
          </tr>
          <%})%>
        </tbody>
        <tbody></tbody>
      </table>
    </div>
    <%}else{%>
      <h2 style="text-align: center; margin-top: 10%;">Sem permissão para ver os pedidos.</h2>
    <%}%>


<script>
  const searchParams = new URLSearchParams(window.location.search);

  document.getElementById("procura0").value = searchParams.get('PEDIDO');
  document.getElementById("procura1").value = searchParams.get('STATUS');
  document.getElementById("procura2").value = searchParams.get('LIMITE');

  document.getElementById("procura0").addEventListener("keypress", function(event) {
      if (event.key === "Enter") {
          window.location = `/faturamento/korp/pedidos?PEDIDO=${document.getElementById("procura0").value}&STATUS=${document.getElementById('procura1').value}&LIMITE=${document.getElementById('procura2').value}`
      }
  });

  document.getElementById("procura2").addEventListener("keypress", function(event) {
      if (event.key === "Enter") {
          window.location = `/faturamento/korp/pedidos?PEDIDO=${document.getElementById("procura0").value}&STATUS=${document.getElementById('procura1').value}&LIMITE=${document.getElementById('procura2').value}`
      }
  });

</script>


<script type="text/javascript" src="/js/carregador.js"></script>
<script type="text/javascript" src="/js/confirmation.js"></script>
<script type="text/javascript" src="/js/procura.js"></script>