<%- include('../partials/sidebar') %>

<head>
    <link rel="stylesheet" href="/css/table.css" />
</head>

<%if(ver_pedido == 1){%>
<body>
    <div class="row mt-2">
        <h1 style="color: black;">Detalhes do pedido <%=contents.PEDIDO%></h1>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-floating">
          <textarea class="form-control" placeholder="Observação" id="<%=obs.obs%>" readonly>
              <%=obs%>
          </textarea>
          <label for="<%=obs.obs%>">Observação:</label>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <%chaves.forEach((chave)=>{%>
      <%if(contents[chave] || typeof contents[chave] == 'string' || typeof contents[chave] == 'number'){%>
      <div class="col-md-3 mb-2">
          <div class="form-floating">
            <input 
            <%if(typeof contents[chave] == 'string'){%>
            type="text"
            <%}%>
            <%if(typeof contents[chave] == 'number'){%>
              type="number"
            <%}%>
            class="form-control"
            id="cliente"
            value="<%=contents[chave]%>"
            readonly
            >
            <label for="cliente"><%=chave%>:</label>
          </div>
      </div>
      <%}%>
      <%})%>
    </div>
</body>
<%}else{%>
    <h2 style="text-align: center; margin-top: 10%;">Sem permissão para ver os pedidos.</h2>
<%}%>