<%- include('../partials/sidebar') %>
<link rel="stylesheet" href="/css/table.css" />
<link rel="stylesheet" href="/css/button8.css" />
<link rel="stylesheet" href="/css/loading.css" />


<div id="loading"></div>
<%if(ver_pedido == 1){%>
    <div class="row mt-2">
      <div class="col-md-4">
        <h4>Pedidos de Compra Abertos</h4>
      </div>
      <div class="col-lg-4">
      </div>
      <div class="col-md-4">
        <button type="button" class="button-8 mb-2" id="result" style="float: right;" disabled>
          <span class="counter-value"><%=parcliseContagem%></span>
          resultados
        </button>
        <button type="button" class="button-8" id="result" style="float: right; margin-right: 5px;" disabled>
           Pedidos fechados
        </button>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <div class="form-floating">
          <input type="text" class="form-control" id="procura0"/>
          <label for="procura0">Número do Documento:</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
          <input type="text" class="form-control" id="procura1"/>
          <label for="procura1">Fornecedor:</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
          <input type="number" class="form-control" id="procura2" min="0" oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"/>
          <label for="procura2">Limite:</label>
        </div>
      </div>
    </div>
    <div class="table-wrapper table-responsive table-striped mb-4">
      <table class="fl-table" id="myTable">
        <thead>
          <tr style="height: 25px">
            <th>Número do Documento</th>
            <th>Data de Emissão</th>
            <th>Fornecedor</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <%contents.forEach ((content)=>{%>
          <tr>
            <td>
                <p><%=content.NDOC%></p>
            </td>
            <td>
              <p><%=content.DTEMI%></p>
            </td>
            <td>
              <p>
                <% if(content.RASSOC.length >= 60){%>
                    <%=content.RASSOC.substring(0, 60) + '...'%>
                <%}else{%>
                    <%=content.RASSOC%>
                <%}%>
              </p>
            </td>
            <td>
              <a href="/compras/korp/pedidos/<%=content.NDOC%>">
                <button type="button" class="button-8">Detalhes</button>
              </a>
            </td>
          </tr>
          <%})%>
        </tbody>
      </table>
    </div>
    <%}else{%>
      <h2 style="text-align: center; margin-top: 10%;">Sem permissão para ver os pedidos.</h2>
    <%}%>


<script>
  const searchParams = new URLSearchParams(window.location.search);

  document.getElementById("procura0").value = searchParams.get('NDOC');
  document.getElementById("procura1").value = searchParams.get('RASSOC');
  document.getElementById("procura2").value = searchParams.get('LIMITE');

  document.getElementById("procura0").addEventListener("keypress", function(event) {
      if (event.key === "Enter") {
          window.location = `/compras/korp/pedidos?NDOC=${document.getElementById("procura0").value}&RASSOC=${document.getElementById('procura1').value}&LIMITE=${document.getElementById('procura2').value}`
      }
  });

  document.getElementById("procura1").addEventListener("keypress", function(event) {
      if (event.key === "Enter") {
          window.location = `/compras/korp/pedidos?NDOC=${document.getElementById("procura0").value}&RASSOC=${document.getElementById('procura1').value}&LIMITE=${document.getElementById('procura2').value}`
      }
  });

  document.getElementById("procura2").addEventListener("keypress", function(event) {
      if (event.key === "Enter") {
          window.location = `/compras/korp/pedidos?NDOC=${document.getElementById("procura0").value}&RASSOC=${document.getElementById('procura1').value}&LIMITE=${document.getElementById('procura2').value}`
      }
  });

</script>


<script type="text/javascript" src="/js/carregador.js"></script>
<script type="text/javascript" src="/js/confirmation.js"></script>
<script type="text/javascript" src="/js/procura.js"></script>