<%- include('../partials/sidebar') %>
<link rel="stylesheet" href="/css/table.css" />
<link rel="stylesheet" href="/css/button8.css" />
<link rel="stylesheet" href="/css/loading.css" />


<div id="loading"></div>
    <div class="row mt-2">
      <div class="col-md-4">
        <h4>Produtos</h4>
      </div>
      <div class="col-lg-4">
      </div>
      <div class="col-md-4">
        <button type="button" class="button-8 mb-2" id="result" style="float: right;" disabled>
          <span class="counter-value"><%=results%></span>
          resultados
        </button>
        <%if (user.admin == 1){%>
        <a href="/logistica/produtos/atualizarSB1">
          <button type="button" class="button-8" id="result" style="float: right; margin-right: 3%;">Atualizar tabela</button>
        </a>
        <%}%>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <div class="form-floating">
          <input type="text" class="form-control" id="procura0"/>
          <label for="procura0">Código:</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
          <input type="text" class="form-control" id="procura1"/>
          <label for="procura1">Descrição:</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
          <input type="number" class="form-control" id="procura2" oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"/>
          <label for="procura2">Limite:</label>
        </div>
      </div>
    </div>
    <div class="table-wrapper table-responsive table-striped mb-4">
      <table class="fl-table" id="myTable">
        <thead>
          <tr style="height: 25px">
            <th>Código</th>
            <th>Tipo</th>
            <th>Unidade</th>
            <th>Descrição</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <%contents.forEach ((content)=>{%>
          <tr>
            <td>
                <p><%=content.B1_COD%></p>
            </td>
            <td>
              <p><%=content.B1_TIPO%></p>
            </td>
            <td>
                <p><%=content.B1_UM%></p>
            </td>
            <td>
                <p><%=content.B1_DESC%></p>
            </td>
            <td>
              <a href="/logistica/produtos/detalhes/<%=content.id%>">
                <button type="button" class="button-8">Detalhes</button>
              </a>
            </td>
          </tr>
          <%})%>
        </tbody>
        <tbody></tbody>
      </table>
    </div>

<script>
const searchParams = new URLSearchParams(window.location.search);

document.getElementById("procura0").value = searchParams.get('CODIGO');
document.getElementById("procura1").value = searchParams.get('DESC');
document.getElementById("procura2").value = searchParams.get('LIMITE');

document.getElementById("procura0").addEventListener("keypress", function(event) {
    if (event.key === "Enter") {
        window.location = `/logistica/produtos?CODIGO=${document.getElementById("procura0").value}&DESC=${document.getElementById("procura1").value}&LIMITE=${document.getElementById("procura2").value}`
    };
});

document.getElementById("procura1").addEventListener("keypress", function(event) {
    if (event.key === "Enter") {
        window.location = `/logistica/produtos?CODIGO=${document.getElementById("procura0").value}&DESC=${document.getElementById("procura1").value}&LIMITE=${document.getElementById("procura2").value}`
    };
});

document.getElementById("procura2").addEventListener("keypress", function(event) {
    if (event.key === "Enter") {
        window.location = `/logistica/produtos?CODIGO=${document.getElementById("procura0").value}&DESC=${document.getElementById("procura1").value}&LIMITE=${document.getElementById("procura2").value}`
    };
});
</script>


<script type="text/javascript" src="/js/carregador.js"></script>
<script type="text/javascript" src="/js/confirmation.js"></script>
<script type="text/javascript" src="/js/procura.js"></script>