<%- include('../partials/sidebar') %>

<body>
    <div class="row mt-4">
        <div class="col-sm-2">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="CODIGO" placeholder="<%=details.CODIGO%>" value="<%=details.CODIGO%>" readonly>
                <label for="CODIGO">Código:</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="DESCRI" placeholder="<%=details.DESCRI%>" value="<%=details.DESCRI%>" readonly>
                <label for="DESCRI">Descrição:</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="CLASSE" placeholder="<%=details.CLASSE%>" value="<%=details.CLASSE%>" readonly>
                <label for="CLASSE">Classe:</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="TIPO" placeholder="<%=details.TIPO%>" value="<%=details.TIPO%>" readonly>
                <label for="TIPO">Tipo:</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="PESO" placeholder="<%=details.PESO%>" value="<%=details.PESO%>" readonly>
                <label for="PESO">Peso:</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="PESOBRUTO" placeholder="<%=details.PESOBRUTO%>" value="<%=details.PESOBRUTO%>" readonly>
                <label for="PESOBRUTO">Peso Bruto:</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="COD_FOR" placeholder="<%=details.COD_FOR%>" value="<%=details.COD_FOR%>" readonly>
                <label for="COD_FOR">Código Fornecedor:</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="UNIDADE" placeholder="<%=details.UNIDADE%>" value="<%=details.UNIDADE%>" readonly>
                <label for="UNIDADE">Unidade:</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="SALDOREAL" placeholder="<%=details.SALDOREAL%>" value="<%=details.SALDOREAL%>" readonly>
                <label for="SALDOREAL">Saldo Real:</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="CATEGORIA" placeholder="<%=details.CATEGORIA%>" value="<%=details.CATEGORIA%>" readonly>
                <label for="CATEGORIA">Categoria:</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="CT_NBM" placeholder="<%=details.CT_NBM%>" value="<%=details.CT_NBM%>" readonly>
                <label for="CT_NBM">NCM:</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="CT_ORIGEM_MERCADORIA" placeholder="<%=details.CT_ORIGEM_MERCADORIA%>" value="<%=details.CT_ORIGEM_MERCADORIA%>" readonly>
                <label for="CT_ORIGEM_MERCADORIA">Origem Mercadoria:</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="FAMILIA" placeholder="<%=details.FAMILIA%>" value="<%=details.FAMILIA%>" readonly>
                <label for="FAMILIA">Família:</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="CODGRUPO" placeholder="<%=details.CODGRUPO%>" value="<%=details.CODGRUPO%>" readonly>
                <label for="CODGRUPO">Código Grupo:</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="CODSUBGRUPO" placeholder="<%=details.CODSUBGRUPO%>" value="<%=details.CODSUBGRUPO%>" readonly>
                <label for="CODSUBGRUPO">Código Sub-Grupo:</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="SPD_COD_GEN" placeholder="<%=details.SPD_COD_GEN%>" value="<%=details.SPD_COD_GEN%>" readonly>
                <label for="SPD_COD_GEN">Gênero Item:</label>
            </div>
        </div>
    </div>
</body>