<%- include('../partials/sidebar') %>

<link rel="stylesheet" href="/css/table.css" />
<link rel="stylesheet" href="/css/button8.css" />
<link rel="stylesheet" href="/css/loading.css" />
<link rel="stylesheet" href="/css/contador.css" />


<div id="loading"></div>


  <div style="padding-top: 1.5%">
    <div class="row">
      <div class="col-md-4">
        <a class="button-8 mb-2" href="/usuarios/">Ativos</a>
      </div>
      <div class="col-lg-6">
      </div>
      <div class="col-sm-2">
        <button type="button" class="button-8 mb-2" id="result" style="display: none; float: right;">
          <span class="counter-value"><%=results.inactiveUsersCount%></span>
          resultados
        </button>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col">
        <div class="form-floating">
          <input type="text" class="form-control" id="procuraBtn0" onkeyup="procura(0, 'procuraBtn0')"/>
          <label for="procuraBtn0">ID:</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
          <input type="text" class="form-control" id="procuraBtn1" onkeyup="procura(1, 'procuraBtn1')"/>
          <label for="procuraBtn1">Nome:</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
          <input type="text" class="form-control" id="procuraBtn2" onkeyup="procura(2, 'procuraBtn2')"/>
          <label for="procuraBtn2">E-mail:</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
          <input type="text" class="form-control" id="procuraBtn3" onkeyup="procura(3, 'procuraBtn3')"/>
          <label for="procuraBtn2">Filial:</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
          <input type="text" class="form-control" id="procuraBtn4" onkeyup="procura(4, 'procuraBtn4')"/>
          <label for="procuraBtn2">Departamento:</label>
        </div>
      </div>
    </div>
    <div class="table-wrapper table-responsive table-striped">
      <table class="fl-table" id="myTable">
        <thead>
          <tr style="height: 25px">
            <th>ID</th>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Filial</th>
            <th>Departamento</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <%users.forEach ((user)=>{%>
          <%if (user.active == 0){%>
          <tr>
            <td>
                <p><%=user.id%></p>
            </td>
            <td>
              <p><%=user.name%></p>
            </td>
            <td>
              <p><%=user.email%></p>
            </td>
            <td>
              <p></p>
            </td>
            <td>
              <p></p>
            </td>
            <td style="padding-bottom: 15px;">
              <a class="button-8" href="/usuarios/ativar/<%=user.id%>">Ativar</a>
            </td>
          </tr>
          <%}%>
          <%})%>
        </tbody>
        <tbody></tbody>
      </table>
    </div>
  </div>


<script type="text/javascript" src="/js/carregador.js"></script>
<script type="text/javascript" src="/js/confirmation.js"></script>
<script type="text/javascript" src="/js/procura.js"></script>
<script type="text/javascript" src="/js/contador.js"></script>